@import "mixins";
.App {
  .app-header {
    position: sticky;
    top: 0;
    background-color: #fff;
    padding: 5px 5rem;
    height: 60px;
    text-align: center;
    box-shadow: 0 1px 3px 0 #4a527a;
    .app-logo {
      height: 60px;
    }
  }
  .app-body {
    box-sizing: border-box;
    width: 1200px;
    margin: 0 auto;
    font-family: sans-serif;
    @include tablet {
      width: 100%;
      padding: 2rem 2rem;
    }
    @include mobile {
      padding: 1rem;
    }

    .good-list {
      padding: 2rem 0;
      display: flex;
      flex-direction: column;
      gap: 15px;
      @include mobile {
        padding: 0;
      }
      .good-item {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 330px;
        @include card-border();
        @include mobile {
          flex-direction: column;
          height: auto;
        }
        &:nth-child(2n) {
          flex-direction: row-reverse;
          .good-item__image {
            border-width: 0 0 0 2px;
            border-radius: 0 5px 5px 0;
          }
          @include mobile {
            flex-direction: column;
            .good-item__image {
              height: 190px;
              border-width: 0;
              border-radius: 5px 5px 0 0;
            }
          }
        }
        &>div {
          width: 50%;
          @include mobile {
            width: 100%;
          }
          &.good-item__image {
            border-width: 0 2px 0 0;
            border-style: solid;
            border-color: #4a527a;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 5px 0 0 5px;
            @include mobile {
              height: 190px;
              border-width: 0;
              border-radius: 5px 5px 0 0;
            }
          }
          &.good-item__info {
            box-sizing: border-box;
            padding: 4rem 5rem 5rem;
            border-radius: 0 5px 5px 0;
            @include mobile {
              padding: 2rem;
              border-width: 5px 0 0 0;
              border-style: solid;
              border-color: #4a527a;
              border-radius: 0 0 5px 5px;
            }
            h2 {
              font-weight: bold;
              line-height: 35px;
            }
            button {
              border-radius: 100px;
              border-width: 2px;
              border-style: solid;
              border-color: #4a527a;
              background-color: unset;
              padding: 15px 30px;
              font-size: 16px;
              margin-top: 30px;
              cursor: pointer;
              @include mobile {
                margin-top: 0;
              }
              box-shadow: 0 2px 3px 0 #4a527a;
              &:hover {
                box-shadow: 2px 4px 5px 0 #4a527a;
              }
            }
          }
        }
      }
    }

    .good-details {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 2rem 0;
      gap: 20px;
      @include mobile {
        flex-direction: column;
      }
      .good-details-item {
        width: 32%;
        @include tablet {
          width: 48%;
        }
        @include mobile {
          width: 100%;
        }
        @include card-border();
        .good-detail-title {
          background-color: #978ec5;
          line-height: 60px;
          border-radius: 7px 7px 0 0;
          h2 {
            margin: 0;
            text-align: center;
          }
        }
        .good-detail-image {
          width: 100%;
          background-position: center;
          background-repeat: no-repeat;
          aspect-ratio: 1 / 0.7;
        }
        .good-detail-data {
          padding: 15px 10px;
          line-height: 28px;
          .good-detail-footer {
            margin-top: 15px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          }
          p {
            margin: 0;
            &.good-detail-price {
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}